@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Comfortaa:wght@700&family=Dekko&family=Eczar&family=Martel&family=Montserrat:wght@500;600&family=Poppins&family=Roboto&family=Tiro+Devanagari+Hindi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* Navbar Section */

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 7%;
    font-size: 2rem;
    display: none;
}

.navbar ul a:hover, .active {
    color: #FCDAB7;
    background-color: #133B5C;
    border-radius: 50px;
}

/* Hero section */

.cv:hover {
    border: 2px solid #FCDAB7;
    background-color: #FCDAB7;
    color: #145374;
    font-weight: 550;
}

/* Contact section */


form input, form textarea {
    font-size: 1rem;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    color: white;
    outline: none;
    background-color: transparent !important;
    border: 1px solid white;
}

input:focus,textarea:focus {
    border-color: #FCDAB7;
    color: #FCDAB7;
}

.btn-sub {
    margin: 0;
    padding: 4px 8px;
    color: #145374;
    background-color: #FCDAB7;
    border-radius: 5px;
}

.btn-sub:hover {
    background-color: #FFEAC5;
}

#confirm-msg {
    color: #61b751;
    margin: 5px 0 0 2px;
    display: block;
}

/* copyright section */

.copyright p {
    text-align: center;
    color: #EAEAEA;
    font-size: 0.8rem;
    font-weight: 200;
    padding: 20px 0;
}

.copyright span {
    font-size: 1rem;
}


/* Responsiveness */



@media (max-width:1023px) {

    /* Navbar section */

    .icons {
        display: inline-flex;
        z-index: 1;
    }
    .icons #close-icon {
        display: none;
    }
    
    #check:checked~ .icons #close-icon {
        display: inline-flex;
    }
    #check:checked~ .icons #menu-icon {
        display: none;
    }
    #check:checked~ .icons {
        right: 2.5%;
    }

    .navbar {
        position: absolute;
        top: 0; 
        right: 0;
        width: 100%;
        min-height: 640px;
        display: none;
        background-color: #00334E;
        overflow: hidden;
        transition: all 1.5s ease;
    }

    #check:checked~ .navbar {
        width: 40%;
        display: inline-block;
    }

    .navbar ul {
        border: none;
        background-color: transparent;
        display: inline;
    }

    .navbar a {
        color: #FCDAB7;
        border-radius: 0;
        display: block;
        padding: 1rem 0;
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
    }

    .navbar ul a:hover, a.active {
        color: #00334E;
        background-color: #FCDAB7;
        border-radius: 0;
    }
     
}

@media(max-width:767px) {

    /* Navigation section */

    #check:checked~ .navbar {
        display: inline-block;
        width: 100%;
    }

}